# Project exclude paths
/eureka_server/target/
/hystrix_dashboard/target/
/microservices-config/target/
/microservices-zipkin/target/
/microservices_gateway/target/
/microservices_movie/target/
/microservices_user/target/